[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nproc"]
	path = nproc
	url = https://github.com/cran/nproc
[submodule "pgraph"]
	path = pgraph
	url = https://github.com/cran/pgraph
[submodule "r02pro"]
	path = r02pro
	url = https://github.com/cran/r02pro
[submodule "RAMP"]
	path = RAMP
	url = https://github.com/cran/RAMP
[submodule "SIS"]
	path = SIS
	url = https://github.com/yangfengstat/sis
